@import url(https://fonts.googleapis.com/css?family=Lora);
.customnav {
    color: #ffffff;
    background-color: gray;
        
}
.customhead{
	background-color: gray;
	color: black;
}
.navlog{
	margin-top: 10px;
	margin-right: 30px;
}
.page-header{
	font-size: 20px;
	color: black;
}
#sidebar-wrapper{
    background-color: #3366ff;
}
#sidebar-wrapper li a{
    color: black;
}
.post-preview h3{
	color: #000000;
	font-style: 20px;
}
.post-preview h4{
	color: gray;
}
.adminlist{
	margin-top: 40px;
}
#sidebar-wrapper{
	background-color: #568f8f;
	font-weight: bold;
	font-family: 'Lora', serif;
	font-size: 15px;
}
.adminimg{
	height: 270px;
    width: 300px;
    margin-top: 90px;
}
.userinfo{
	margin-top: 90px;
	font-weight: bold;
	font-family: 'Lora', serif;
	font-size: 15px;
}
.well{
	text-align: center;
	background-color: #568f8f;
	font-weight: bold;
	font-family: 'Lora', serif;
	font-size: 15px;
}
.additinfo{
	font-size: 15px;
	font-weight: bold;
	font-family: 'Lora', serif;
}
.adfacultylist{
	margin-top: 100px;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Lora', serif;
}